## Import dependencies and create dataframe from series

In [3]:
# import pandas
import pandas as pd

In [5]:
# Create a series of three different colors
colors = pd.Series(["Black", "Pink", "Green"])

# View the series
colors

0    Black
1     Pink
2    Green
dtype: object

In [6]:
# Create and view a series of different car types
makes = pd.Series(["Toyota", "Honda", "Subaru"])
makes

0    Toyota
1     Honda
2    Subaru
dtype: object

In [8]:
# Dataframe uses a dictionary type relationship to relate column headers to data from series
cars_df = pd.DataFrame({"Car Make":makes, "Car Color":colors})
cars_df

  Car Make Car Color
0   Toyota     Black
1    Honda      Pink
2   Subaru     Green

## Importing and Exporting Data

In [9]:
#import from a csv
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [11]:
#export self created to csv
cars_df.to_csv("practice-car.csv")

## Getting Basic Information About the DataFrame

In [12]:
#get the column types
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [13]:
# describe gets the desciptive stats for the numerical types
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [14]:
# info reports information about the df including memory usage and dimensions
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [15]:
# mean of series
num_series = pd.Series([2,6,55,87,9,10,21,33])
num_series.mean()

In [18]:
# list column names
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [19]:
# find length of df
len(car_sales)

10

In [ ]:
#Show first five rows